.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: rgba(92, 90, 90, 0.219);
  display: flex;
  justify-content: center;
}

.card-modal {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 10px;
}

.card-modal img.popup-img {
  width: 90%;
  height: 50%;
  padding-left: 20px;
  padding-top: 40px;
}

.close-modal {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  border-radius: 16px;
}

.flex-start {
  display: flex;
  flex-direction: column;
}

.modal-header {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  align-items: flex-start;
  margin-bottom: 0;
  margin-top: 10px;
  color: #172b4d;
}

.modal-text {
  text-align: start;
  margin-top: 0;
  font-size: 16px;
  line-height: 24px;
}

.technologys {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.technologys ul {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
}

.technologys ul li {
  padding: 8px 12px;
  align-items: center;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background: #ebf0ee;
  border-radius: 4px;
  margin: 3px 3px;
}

.modal-btn {
  display: flex;
  gap: 20px;
}

.button-modal,
.button-modal-desktop {
  width: 150px;
  height: 48px;
  border: none;
  background: #36b37f;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.button-modal-desktop {
  display: none;
}

.button-modal:hover,
.button-modal-desktop:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.button-modal:active,
.button-modal-desktop:hover {
  background: #008552;
}

.button-modal a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .button-modal-desktop a {
    text-decoration: none;
    color: #fff;
    text-align: center;
  }
}

@media only screen and (min-width: 1180px) {
  .modal-btn {
    display: none;
  }

  .card-modal img.popup-img {
    width: 95%;
    padding-left: 20px;
    padding-top: 40px;
  }

  .card-modal {
    width: 50%;
  }

  .desktop-btn {
    display: flex;
    margin-left: 15px;
  }

  .button-modal-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: 10px;
  }

  .desktop-header {
    display: flex;
    align-items: baseline;
  }

  .desktop-h2 {
    width: 70%;
  }

  .technologys ul li {
    font-size: 20px;
  }
}
