
header {
  margin-bottom: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: center;
}

ul li {
  list-style: none;
}

.nav-list li {
  padding: 10px;
  padding-bottom: 0;
  display: none;
}

.nav-list a {
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  background: transparent;
}

.logo {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.first {
  color: #172b4d;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.second {
  color: #36b37f;
  margin-top: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
  text-align: center;
}

p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.links {
  width: 100%;
  margin: 58px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.icons {
  margin-left: 15px;
  margin-right: 15px;
}

.arrow-section {
  background-color: transparent;
  border: none;
}

.links-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-header li {
  margin-right: 30px;
}

/* Work section -- */

.work-section {
  text-align: center;
  align-items: center;
}

.arrow {
  margin: 40px 0;
}

.work-section h2 {
  text-align: center;
  align-items: center;
  margin-top: 50px;
}

.recent-work {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;
  justify-content: center;
  margin: 80px auto;
  align-items: center;
  justify-items: center;
}

.card {
  background-image: url(images/Card-pic.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 369px;
  height: 474px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  transition: transform 0.3s;
  box-shadow: 2px 2px 6px 0;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 26px 0;
}

.card-body {
  background-color: white;
  border-radius: 8px;
  align-items: center;
}

.tittle {
  padding: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

.tech {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin-top: 0;
}

.list {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.list li {
  padding: 8px 12px;
  align-items: center;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background: #ebf0ee;
  border-radius: 4px;
  margin: 3px 3px;
}

.button {
  width: 122px;
  height: 48px;
  border: none;
  background: #36b37f;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.button:active {
  background: #008552;
}

.card-btn {
  padding: 5px;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 16px;
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.float-1 {
  position: absolute;
  right: 0;
  top: 0;
}

.float-2 {
  position: absolute;
  left: 0;
  margin-bottom: 15px;
}

.about h2 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  color: #172b4d;
}

.tittle li h2 {
  margin: 12px 0;
  color: #3a4a42;
}

.about p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.last-section {
  background-image: url(images/Card-pic.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 327px;
  height: 352px;
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  box-sizing: border-box;
  align-items: center;
  padding: 10px;
  transition: transform 0.3s;
}

.last-section:hover {
  transform: scale(1.1);
}

.last-section img {
  width: 100px;
  height: 100px;
}

.last-section h3 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.last-section ul li {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background: #fff;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.form-text {
  text-align: center;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullName {
  width: 327px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding-left: 16px;
  box-sizing: border-box;
}

#email {
  width: 327px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  padding-left: 16px;
  box-sizing: border-box;
}

.textArea {
  background: #fff;
  border: 1px solid #60c095;
  height: 114px;
  width: 327px;
  left: 0;
  top: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.email-form {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

.bot-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bot-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.bot-nav p {
  margin: 0;
}

@media only screen and (min-width: 992px) {
  .navbar {
    justify-content: center;
  }

  .nav-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }

  .nav-list {
    padding-left: 0;
  }

  .logo {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .first {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 8px;
  }

  .second {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    text-align: center;
    margin-bottom: 0;
  }

  header {
    background-image: url(images/desktop-background.png);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
  }

  .hero {
    background-image: none;
    width: 900px;
  }

  .hero p {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
  }

  .grid {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    justify-content: space-around;
    align-items: center;
    margin: 80px auto;
  }

  .last-section {
    width: 369px;
    height: 352px;
  }

  .about {
    margin: auto;
  }

  .about p {
    width: 920px;
    height: 96px;
  }

  .email-form {
    display: none;
  }

  .form {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: flex-start;
    margin: auto;
    justify-content: space-around;
    margin-top: 100px;
  }

  .text {
    width: 463px;
    height: 256px;
  }

  .contact-form {
    width: 684px;
    height: 330px;
  }

  .form-text {
    font-size: 30px;
  }

  .bot-nav {
    display: flex;
    width: 100%;
    height: 72px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #dfe1e6;
  }

  .bot-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .bot-nav p {
    margin: 0;
  }
}

@media only screen and (min-width: 1180px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-content: space-around;
    align-items: center;
    margin: 80px auto;
  }

  .form {
    width: 100%;
    height: 790px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: flex-start;
    margin: auto;
    background-image: url(images/form-pic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    justify-content: center;
    margin-top: 100px;
  }

  .text {
    width: 463px;
    height: 256px;
  }

  .contact-form {
    width: 684px;
    height: 330px;
    align-items: flex-start;
    margin-left: 20px;
  }

  .form-text {
    font-size: 30px;
  }

  .email-form {
    display: none;
  }

  .bot-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .bot-nav p {
    margin: 0;
  }

  .bot-nav {
    display: flex;
    height: 72px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #email {
    width: 684px;
  }

  .fullName {
    width: 684px;
  }

  .textArea {
    width: 684px;
  }
}
